<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full items-center">
        <div class="main w-full min-h-screen bg-zinc-900 p-10 text-white ">
            <a href="/"class="text-blue-500 inline-block mb-10 " >Go back to home</a>
    
    
            <form action="/edit" method="post" >   
                <input type="text" placeholder="Write previous file name" class="block px-5 py-2 bg-zinc-800 w-1/4 rounded-md outline-none text-zinc-600" name="previous" value="<%= filename %>" disabled="true">
                <input placeholder="Write new file name" class="block px-5 py-2 bg-zinc-800 resize-none mt-5 w-1/4 rounded-md outline-none" name="new">
                <input type="submit" value="Edit File" class="mt-3 bg-yellow-600 px-5 py-2 rounded-md">
            </form>
        </div>
    </div>
  
</body>
</html>